# =========================================
# Laravel / PHP
# =========================================

/vendor/
/storage/*.key
/storage/app/*.key
/storage/logs/*.log
/storage/framework/*
/storage/debugbar/*
/bootstrap/cache/*.php

.env
.env.*
!.env.example

# Laravel specific
/public/storage
/public/hot
/public/vendor

# Laravel Mix / Vite
/public/build
/public/assets

# =========================================
# Node.js
# =========================================

/node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# =========================================
# Docker
# =========================================

/docker-compose.override.yml
/.docker
/.dockerignore

# Containers & volumes
docker-data/
*.tar

# =========================================
# Composer
# =========================================

composer.lock
auth.json

# =========================================
# JetBrains (PhpStorm)
/.idea/
/*.iml

# =========================================
# VSCode
.vscode/

# =========================================
# IDE / Editor Junk
*.sublime-workspace
*.sublime-project

# =========================================
# OS Files
.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# =========================================
# Logs / Temp
*.log
*.cache
*.tmp
.phpunit.result.cache
.phpactor.json

# =========================================
# Other
/coverage
/.vagrant
Homestead.yaml
Homestead.json
